:root {
    --body-color :#2b4242;
    --navbar-color: #c3c6c3;
    --font-color: #ffffff;
    --a-color: #93a4ab;
    --b-color: #7d8f8b;
    --c-color: #6b8784;
    --btn-color: #007c8e;
    --footer-color: #434d6d;
    --card-color: #675680;
}