:root {
    --body-color :#14213D;
    --navbar-color: #e7efff;
    --active-color: #00c6bf;
    --font-color: #e7efff;
    --btn-color: #007c8e;
    --active-color: #fd8f3b;
    --footer-color: #434d6d;
    --card-color: #675680;
}